include resume-mixins.pug

#main
    #title
        h1 Adrien LE GALL
        .subtitle #{role}

    .main-block
        h2 #[i.fa.fa-suitcase] #{title_experiences}

        +item(role_developer, "Zero to One Technology", "Caen - France", "Jan 18", null)
            ul
                li #{zto_description[0]}
                li #{zto_description[1]}
                li #{zto_description[2]}
                li #{zto_description[3]}

        +item(role_developer, "Apitic", "Lannion - France", "Jun 16", "Jan 18")
            ul
                li #{apitic_description[0]}
                li #{apitic_description[1]}
                li #{apitic_description[2]}

        +item(role_intern, "Apitic", "Lannion - France", "Apr 16", "Jun 16")
            ul
                li #{apitic_intern_description[0]}
                li #{apitic_intern_description[1]}
                li #{apitic_intern_description[2]}

    .main-block
        h2 #[i.fa.fa-folder-open] #{title_projects}

        +item(role_developer, null, null, null, null)
            .description #{comscope_description}

        +item(role_better_project_manager, null, null, null, null)
            ul
                li #{apimag_description[0]}
                li #{apimag_description[1]}

        +item(role_project_manager, null, null, null, null)
            .description #{apibank_description}

    .main-block.concise
        h2 #[i.fa.fa-graduation-cap] #{title_education}

        +item("DUT Informatique", "IUT de Lannion (22, Université de Rennes 1)", "France", "2016", null)

        +item("Bac STI2D", "Lycée la Mennais (56)", "France", "2013", null)

#sidebar
    #contact.side-block
        h1 #{title_contact}
        ul
            li #[i.fa.fa-envelope] <!-- keep the trailing space-->
                a(href='mailto:adrien.le.g.ll@gmail.com') adrien.le.g.ll@gmail.com
            li #[i.fa.fa-phone] <!-- keep the trailing space-->
                a(href='tel:+33 6 20 94 86 19') +33 6 20 94 86 19
            li #[i.fa.fa-github] <!-- keep the trailing space-->
                a(href='http://github.com/legallai') github.com/legallai
            li #[i.fa.fa-linkedin] <!-- keep the trailing space-->
                a(href='https://www.linkedin.com/in/adrienlegall/') linkedin.com/in/adrienlegall

    #skills.side-block
        h1 #{title_skills}
        h3 #{title_languages}
        ul
            +skill(4, javascript_es6)
            +skill(3, typescript)
            +skill(4, html5)
            +skill(4, css3)
            +skill(4, php)
            +skill(2, python_3)
            +skill(2, node_js)
        h3 #{title_frameworks}
        ul
            +skill(4, angular)
            +skill(3, laravel)
            +skill(2, symfony)
            +skill(2, angularjs)
            +skill(1, vue_js)
        h3 #{title_libraries}
        ul
            +skill(4, jquery)
            +skill(3, bootstrap)
            +skill(2, d3_js)
            +skill(1, socket_io)
        h3 #{title_tools}
        ul
            +skill(4, git)
            +skill(3, shell)

style
    include resume.scss
